In [2]:
import pyarrow
import pandas as pd
import numpy as np

In [3]:
endpoint_developer = pd.read_parquet('data_games.parquet')

In [24]:
endpoint_developer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29782 entries, 0 to 29781
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   genres          28548 non-null  object
 1   app_name        29782 non-null  object
 2   title           29782 non-null  object
 3   release_date    29782 non-null  datetime64[ns]
 4   discount_price  29782 non-null  float64
 5   price           29782 non-null  float64
 6   developer       28533 non-null  object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 1.6+ MB

In [25]:
endpoint_developer['year'] = endpoint_developer['release_date'].dt.year
endpoint_developer['month'] = endpoint_developer['release_date'].dt.month
endpoint_developer['day'] = endpoint_developer['release_date'].dt.day

In [26]:
endpoint_developer

,genres,app_name,title,release_date,discount_price,price,developer,year,month,day
0,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,4.49,4.99,Kotoshiro,2018,1,4
1,"[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,2018-01-04,0.00,0.00,Secret Level SRL,2018,1,4
2,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017-07-24,0.00,0.00,Poolians.com,2017,7,24
3,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,2017-12-07,0.83,0.99,彼岸领域,2017,12,7
4,"[Action, Adventure, Simulation]",Battle Royale Trainer,Battle Royale Trainer,2018-01-04,0.00,3.99,Trickjump Games Ltd,2018,1,4
...,...,...,...,...,...,...,...,...,...,...
29777,"[Action, Adventure, Casual, Indie]",Kebab it Up!,Kebab it Up!,2018-01-04,1.69,1.99,Bidoniera Games,2018,1,4
29778,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,2018-01-04,1.49,1.99,"Nikita ""Ghost_RUS""",2018,1,4
29779,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,2018-01-04,4.24,4.99,Sacada,2018,1,4
29780,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,2018-01-04,1.39,1.99,Laush Dmitriy Sergeevich,2018,1,4
29781,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,0.00,4.99,"xropi,stev3ns",2017,9,2

In [46]:
def dev_name(developer : str):
    
    juegos_valor_cero = endpoint_developer[(endpoint_developer['developer'] == developer) & (endpoint_developer['price'] == 0)]

    agrupado = juegos_valor_cero.groupby('year')['developer'].count().reset_index(name='juegos_valor_cero')
    total_juegos_por_anio = endpoint_developer[endpoint_developer['developer'] == developer].groupby('year')['developer'].count().reset_index(name='total_juegos')

    resultado = pd.merge(agrupado, total_juegos_por_anio, on='year')
    resultado['Contenido Free'] = (resultado.juegos_valor_cero/resultado.total_juegos)*100
    resultado.drop(columns=['juegos_valor_cero', 'total_juegos'], inplace=True)

    return resultado

In [47]:
resultado

   year  juegos_valor_cero  total_juegos  Contenido Free
0  2012                  1           114        0.877193

In [48]:
dev_name('Ubisoft - San Francisco')

   year  Contenido Free
0  2012        0.877193

In [51]:
data_users = pd.read_parquet('users_data.parquet')

In [52]:
data_users

,user_id,items,user_url_y,reviews
0,76561197970982479,"[{'item_id': '10', 'item_name': 'Counter-Strik...",http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik...",http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest...",http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,"[{'item_id': '300', 'item_name': 'Day of Defea...",http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,"[{'item_id': '240', 'item_name': 'Counter-Stri...",http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...,...
26430,76561198306599751,"[{'item_id': '4000', 'item_name': ""Garry's Mod...",http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
26431,Ghoustik,"[{'item_id': '302830', 'item_name': 'BLOCKADE ...",http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
26432,76561198310819422,"[{'item_id': '268420', 'item_name': 'Aura King...",http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
26433,76561198312638244,"[{'item_id': '10', 'item_name': 'Counter-Strik...",http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
26434,LydiaMorley,[],http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [4]:
items = pd.read_parquet('user_items.parquet')

In [5]:
items

,user_id,user_url,items
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...
88305,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,http://steamcommunity.com/id/edward_tremethick,[]